@media (max-width: 898px) {
    #NavContainer {
        width: 100%;
        display: flex;
        /* position: fixed; */
        justify-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: polygon(5% 15%,
                95% 15%,
                100% 50%,
                95% 85%,
                5% 85%,
                0% 50%);
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 20.3%;
        top: 7.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 8rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
        margin-left: 10%;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-left: 17%;
    }
}

@media (max-width: 850px) {
    #NavContainer {
        width: 100%;
        display: flex;
        /* position: fixed; */
        justify-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: polygon(5% 15%,
                95% 15%,
                100% 50%,
                95% 85%,
                5% 85%,
                0% 50%);
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 20.3%;
        top: 7.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 8rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-right: 4%;
    }
}

@media (max-width: 839px) {

    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 12%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 5rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-right: 4%;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
        margin-left: 0%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

@media (max-width: 520px) {


    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 13%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 5rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-right: 4%;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

@media (max-width: 442px) {


    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    .ContainerContentBody1 {
        position: absolute;
        bottom: 45%;
        right: 15%;
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 17%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 5rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

@media (max-width: 402px) {


    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    .ContainerContentBody1 {
        position: absolute;
        bottom: 45%;
        right: 12%;
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 17%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 5rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

@media (max-width: 360px) {


    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    .ContainerContentBody1 {
        position: absolute;
        bottom: 45%;
        right: 15%;
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 18%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 4rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

@media (max-width: 338px) {


    html,
    #BodyIndex {
        width: 90%;
        /* height: 100%; */
    }

    .ContainerContentBody1 {
        position: absolute;
        bottom: 45%;
        right: 12%;
    }

    header {
        /* background-color: aquamarine; */
        /* display: none; */
        justify-content: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    #NavContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 17%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: none;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #NavContainer.show-menu {
        display: flex;
    }



    .logomenu {
        display: none;
    }

    #SubMenuMarques {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2.5% 0% 3.5% 0%;
        gap: 5%;
        left: 75.3%;
        top: 8.1%;
        width: 20%;
        color: white;
        text-align: center;
        height: 25%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #SubMenuMes {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2% 0% 1% 0%;
        gap: 5%;
        left: 85%;
        top: 7.1%;
        width: 10%;
        color: white;
        text-align: center;
        height: 10%;
        clip-path: polygon(50% 0%, 55% 6%, 100% 6%, 100% 100%, 0% 100%, 0% 6%, 45% 6%);
    }

    .titleHome {
        color: white;
        /* background-color: antiquewhite; */
        font-size: 4rem;
        font-family: "Quantico", serif;
        font-weight: 600;
        text-align: center;
    }

    .SubTitleHome {
        font-family: "Jura", serif;
        font-weight: lighter;
        color: white;
        text-align: center;
    }

    .ContainerMenuToggle {
        width: 100%;
        visibility: visible;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(45% 15%,
                55% 15%,
                60% 50%,
                55% 85%,
                45% 85%,
                40% 50%);
        padding: 3%;
    }

    .MenuToggle {
        font-size: 200%;
        color: white;
    }
}

/*-------------------------------------*/

@media (max-width: 1330px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 60%;
        margin: 10% 0% 0% 20%;
        display: flex;
    }
}


@media (max-width: 1034px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 75%;
        margin: 20% 0% 0% 15%;
        display: flex;
    }
}

@media (max-width: 774px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 85%;
        margin: 20% 0% 0% 7%;
        display: flex;
    }
}

@media (max-width: 604px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 50%;
        height: 55%;
        margin: 20% 0% 0% 25%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}


@media (max-width: 898px) {
    #NavContainer {
        width: 100%;
        display: flex;
        /* position: fixed; */
        justify-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
        color: white;
        clip-path: polygon(5% 15%,
                95% 15%,
                100% 50%,
                95% 85%,
                5% 85%,
                0% 50%);
    }
}

@media (max-width: 474px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 60%;
        height: 55%;
        margin: 20% 0% 0% 20%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}

@media (max-width: 494px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 70%;
        height: 55%;
        margin: 30% 0% 0% 15%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}
@media (max-width: 338px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 80%;
        height: 55%;
        margin: 30% 0% 0% 10%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}


@media (max-width: 316px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 80%;
        height: 55%;
        margin: 30% 0% 0% 10%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}

@media (max-width: 294px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 90%;
        height: 55%;
        margin: 30% 0% 0% 5%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}

@media (max-width: 260px) {
    .ContainerContentConcess {
        border: 1px solid white;
        width: 100%;
        height: 55%;
        margin: 30% 0% 0% 0%;
        display: flex;
        flex-direction: column;
    }

    .LogoConcess {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .UbiConcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "Jura";
        justify-content: center;
        align-items: center;
        font-size: 2em;
        /* background-color: aqua; */
    }

    .UbiConcess>ul {
        list-style: none;
        margin-top: 0%;
        margin-right: 10%;
    }

}